Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.18
Werkzeug==0.9.4
chardet==2.2.1
colorama==0.2.5
html5lib==0.999
itsdangerous==0.22
pyOpenSSL==0.13
pycurl==7.19.3
pygobject==3.12.0
pyinotify==0.9.4
python-apt==0.9.3.5ubuntu2
requests==2.2.1
six==1.5.2
unattended-upgrades==0.1
urllib3==1.7.1
wheel==0.24.0
