body{
    background-color: #efe2ba !important;
}

header{
    text-align: center;
}

main {
   min-height: 65vh;
    text-align: center;
}

footer {
    height: 15vh;
}

.form-group {
    width:100%;
    justify-content: center;
    color: #4056a1;
    font-size:2vw;
}

#index-header{
    color: #d79922;
    font-size: 5vw;
}

.text-input{
    background-color: #c5cbe2;
    color: #4056a1;
    margin-left: 3px;
}

#username-header{
    color: #d79922;
    font-size: 4vw;
}


.question img {
    max-width: 90vw;
    max-height: 30vh;
}
.btn {
    margin-left: 5px;
    margin-bottom: 8px;
    font-size: 1.5vw !important;
}

.col-form-label{
  padding: 7px !important;
}


.host{
    font-size: 2vw;
    color: #AA9656
}

.question{
    font-size:2.5vw;
    color: #d79922;
}

.answer{

color: #FFFDF5;    
size: 1.5vw;

}

.guesses{
    color: #FFF8E1;
    font-size: 2vw;
}

.eliminated {
    font-size: 3vw;
    color: #e27D60;
}

.correct {
    font-size:4vw;
    color: #8EEFAF;
}

.incorrect {
    font-size: 4vw;
    color: #e27D60;
}

.card-row .col{
    padding:0;
}

.card{
    text-align: center;
}

#player-1-card{
    background-color: #a64ac9
}

#player-2-card{
    background-color:#Fccd04;
}

#player-3-card{
    background-color: #ffb48f;
}

#player-4-card{
    background-color: #17e9e0;
}