{% extends 'base.html' %} {% block content %}
<main>
    <!--{% for text_line in round_text %}-->

    <!--<h2 class="main-text">-->
    <!--{{ text_line|safe }}-->
    <!--</h2>-->

    <!--{% endfor %}-->
    
    
        
    <h6>{{ correct_text |safe}} </h6>
<h4 class="eliminated">{{ eliminated_text |safe}} </h4>
<h4 class="answer">{{ answer_text |safe }} </h4>
<h2 class="host">{{ host_text  |safe}}</h2>
<h1 class="question">{{ question_text |safe}}</h1>
<h5 class= "guesses">{{ incorrect_guesses_text |safe}}</h5>



    <form method="POST">
        <input type="text" id="answer" name="answer" placeholder="Your answer...">

    </form>
</main>
<footer>
    <div class="container-fluid">
        <div class="row">
            {% for player in game_data %}

            <div class="col col-{{ col_size }}">
                <div class="card" id="player-{{ player.no }}-card">
                    <h5 class="card-title">{{ player.username}}</h5>
                    <div class="card-body">

                        <p class="card-text score-text">score: {{ player.score }}</p>
                        <p class="card-text lives-text">lives: {{ player.lives }}</p>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>

</footer>



<!--<div class="row">-->
<!--    <form method="POST">-->

<!--        <div class="col-xs-12 col-md-12">-->
<!--            <input type="text" id="player-1-username" name="player-1-username" placeholder="Player 1 username ...">-->
<!--            <input type="text" id="player-2-username" name="player-2-username" placeholder="Player 2 username ...">-->
<!--            <button type="submit" class="btn">Start Game</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
{% endblock %}
