{% extends 'base.html' %} {% block content %}
<h1>3 Player Game</h1>

{% for text_line in round_text %}

<h2 class="main-text">
    {{ text_line }}
</h2>

{% endfor %}

<div class="row">
    <form method="POST">

        <div class="col-xs-12 col-md-12">
            <input type="text" id="player-1-username" name="player-1-username" placeholder="Player 1 username ...">
            <input type="text" id="player-2-username" name="player-2-username" placeholder="Player 2 username ...">
            <input type="text" id="player-3-username" name="player-3-username" placeholder="Player 3 username ...">

            <button type="submit" class="btn">Start Game</button>
        </div>
    </form>
</div>
{% endblock %}
