{% extends 'base.html' %} {% block content %}
<header>
    <h1 id="username-header">Set Your Usernames</h1>
</header>

<main>
    <div class="row  align-items-center justify-content-center">
        <form method="POST">
            <div class="col-xs-12 col-md-12">
                {% for i in range(players) %}
                <input type="text" class="text-input" id="player-{{ i+1 }}-username" name="player-{{ i+1 }}-username" placeholder="Player {{ i+1 }} username ..."> {% endfor %}
                <button type="submit" class="btn btn-primary">Start Game</button>
        </form>
        </div>
</main>
{% endblock %}
